[features]
seeds = false
skip-lint = false
[programs.localnet]
remaining_accounts = "4NUxYa3SFp4XTPqvuh6Twt4EdkRrVN5G9gBNZUxyzapc"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "/home/mike/.config/solana/dev-phantom.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000